<nav class="navbar sticky-top navbar-light bg-light">
  <a class="navbar-brand" href="">Real World</a>
  <ul class="nav nav-pills" role="tablist">
    <%= link_to "Profile", agent_profile_path %>
    <%= link_to "Logout", agent_logout_path, :method => :delete %>
  </ul>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="respondtoclient">
        <center>
          <div class="">
            <h3>Message to Client</h3>
          </div>
        </center>
      </div>
    </div>
