.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}

.overlay {
    position:absolute;
    top:40%;
    left:40%;
    z-index:1;
    color: #F9EBEA ;
    letter-spacing: 2px;
    font-size: 45px;
    font-family: 'Reenie Beanie', cursive;
}

button.login, button.register {
  font-size: 12px;
  font-family: sans-serif;
}

p.banner {
  background: white;
  text-align: center;
  margin: 20px;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
}

.loginpage {
  color: grey;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff;
  opacity: 0.95;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  top:30%;
  left:25%;
  z-index:1;
  width: 50%;
}

.registerpage {
  color: grey;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff;
  opacity: 0.95;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  top:20%;
  left:25%;
  z-index:1;
  width: 50%;
}

.cancel {
  float: right;
}
.cancel:hover {
  border-bottom: 1px solid grey;
}

.loginoption {

}

.agentlogin {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  background: lightgrey;
  border-radius: 2px;
  padding: 0 20px;
  opacity: 0.8;
  color: black;
}

a.agentlogin:hover {
  text-decoration: none;
  opacity: 1;
  color: black;
  background-color: white;
}
