<header>
  <nav class="navbar sticky-top navbar-light bg-light">
    <a class="navbar-brand" href="http://localhost:3000">Real World</a>
  </nav>
</header>

<div class="agentlogin">
  <p>Let's help you start growing your business...</p>
  <h3>Login</h3>
  <form id="agentlogin" className="agentlogin">
    <p>email:<input></input></p>
    <p>password:<input></input></p>
  </form>
  <%= link_to 'Register', new_agentlogin_path(@agent)%>
</div>
